<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login.css">
    <title>Login</title>
</head>
<header>
    <title class="login page">LOGIN</title>
</header>
<body>
       
    <section class="auth-card login" id="login">
        <div class="center">
            <h2> Smart Student Attendance</h2>
            <h3> Login</h3>
            <form action="/token" method="post">
                <input type="email" id="email-signup" name="email-signup" placeholder="Email" required><br>
                <input type="password" id="password-signup" name="password-signup" placeholder="Password" required><br>
               <div class="submit"> <button>Submit</button> </div>
            </form>
        </div>
    </section>  
      

</body>
</html>