<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Attendance</title>
    <link rel="stylesheet" href="../static/mark_attendance.css">
</head>
<header>
    <nav class="navbar">
        <div class="logo">Student Attendance</div>
        <ul class="nav-links">
            <li><a href="#home">Home</a></li>
            <li><a href="#feature">Feature</a></li>
            <li><a href="#dashboard">Dashboard</a></li>
            <li><a href="#report">Report</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#register">Register</a></li>
        </ul>
    </nav>
</header>
<body>
<div class="checkin">
  <div class="container">
    <form>
        <div class="text">CHECKIN FORM</div>
        <br>
        
        
    
        
            <input type="text" placeholder="Name"/>
            <br>
            <br>
            
            <input type="number"placeholder="ID"/>
            <br>
            <br>
           
            
            <button type="submit">Checkin</button>
        </div>
    </form>
  </div>
</div>

</body>
</html>
