;<!<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link rel="stylesheet" href="../static/mark_attendance.css">
</head>
<header>
    <h1>ATTENDANCE</h1>
</header>
<body>
    
    <div class="Checkin-form">
         <form>
        <div class="text">CHECKIN FORM</div>
        <br>
        <br>
        <form>
            <input type="text" placeholder="Name"/>
            </div>
            <br>
            <input type="number"placeholder="ID"/>
            </div>
            br
            <button type="submit">Checkin</button>
             </form>
    </div>

</body>
</html>
