;<!<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkin Form</title>
    <link rel="stylesheet" href="attendance.css">
    </head>
<body>
    
    <form>
     <div class="Checkin-form">
        <div class="text">CHECKIN FORM</div>
        <br>
        <br>
        <form>
            <input type="text" placeholder="Name"/>
            </div>
            <br>
            <input type="number"placeholder="ID"/>
            </div>
        
            <button type="submit">Checkin</button>
             </form>
    </div>

    
</body>
</html>
