<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/record.css">
    <title>Record</title>
   
</head>

 <header>
     <nav class="navbar">
        <div class="logo">Student Attendance</div>
        <ul class="nav-links">
            <li><a href="#home">Home</a></li>
            <li><a href="#feature">Feature</a></li>
            <li><a href="#dashboard">Dashboard</a></li>
            <li><a href="#report">Report</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/template/register.html">Register</a></li>
        </ul>
    </nav>
 </header>

<body>
  
 <div class="container">
  <nav class="sidebar">
   <ul>
    <li><a href="#">Homepage</a></li>
    <li><a href="#">Attendance</a></li>
    <li><a href="#">Record</a></li>
    <li><a href="#">User</a></li>
</ul>
  </nav>

  

  <main>
    <h1>Record</h1>
 

   <input type="text" class="searchbar" placeholder="Search....">

   <table>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
   </table>
  
  </main>





 </div>

</body>
</html>