<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/report.css">
    <title>Document</title>
   
</head>

 <header>

 </header>

<body>
  
 <div class="container">
  <nav class="sidebar">
   <ul>
    <li><a href="#">Homepage</a></li>
    <li><a href="#">Attendance</a></li>
    <li><a href="#">Record</a></li>
    <li><a href="#">User</a></li>
</ul>
  </nav>

  

  <main>
    <h1>Record</h1>
 

   <input type="text" class="searchbar" placeholder="Search....">

   <table>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
   </table>
  
  </main>





 </div>

</body>
</html>