<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/register.css">
    <title>Register</title>
</head>
<header>
    <title class="rigister page">Register</title>
</header>
<body>
       
    <div class="container">
        <div class="center">
           <h1>Registration</h1>
            <div class="input"></div>
              <input type="text" placeholder="Name"><br>
              <input type="text" placeholder="Username"><br>
              <input type="text" placeholder="Email"><br>
              <button>Register</button>
            </div>
       </div>
    </div> 
      

</body>
</html>