<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/register.css">
    <title>Register</title>
</head>
<header>
    <title class="rigister page">Register</title>
</header>
<body>
       
    <section class="auth-card signup" id="signup">
        <div class="center">
            <h2>Sign Up</h2>
            <h3>Welcome to the Smart Student Attendance</h3>
            <form>
            
                <input type="text" id="name" name="name" placeholder="Name" required><br>
                <input type="email" id="email-signup" name="email-signup" placeholder="Email" required><br>
                <input type="password" id="password-signup" name="password-signup" placeholder="Password" required><br>
                <input type="checkbox" id="terms" name="terms" required>
                <label for="terms">I agree to the Terms of Service and Privacy Policy</label><br>
                <button>Submit</button>
                <p>Already have an account?<a href="login.html">login</a></p>
            </form>
        </div>
    </section>  
      

</body>
</html>