* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background: #050200;
    color: white;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #64ffda;
}

.btn {
    background: #64ffda;
    padding: 6px 12px;
    border-radius: 5px;
    color: #8B5E3C !important;
}

.section {
    padding: 80px 60px;
    text-align: center;
}

.light {
    background: #f4f4f4;
}

.primary-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #8B5E3C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.primary-btn:hover {
    background: #8B5E3C;
}

.grid {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.stat h3 {
    font-size: 28px;
    color: #0a192f;
}

.contact-form,
.register-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

input, textarea, select {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #8B5E3C;
}

footer {
    text-align: center;
    padding: 20px;
    background: #8B5E3C;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background:#8B5E3C;
    color: white;
    border-radius: 18px;
}

.logo {
    font-size: 15px;
    font-weight: bold;
    
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
}
.btn-login, .btn-register {
    padding: 6px 10px;
    border: none;
    cursor: pointer;
}