.container {
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #311803b9;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    box-shadow: 10px 10px 70px 20px #11b342
    transition: ease-in-out 2s;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px;
    color: #942020;

}
.checkin{
    width: 100%;
    height: 100%;
    gap: 50px;
}
.container hover{
    box-shadow: 10px 10px 70px 20px #11b342
    transition: ease-in-out 4s
}
.text, .number{
    height: 38px;
    outline: none;
    border-radius: 4px;
    font-size: 15px;
    padding-left: 10px;
}
.checkin{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn{
    width: 100px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background-color: #942020;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f7f9;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background: #311803b9;
    color: white;
    border-radius: 18px;
}

.logo {
    font-size: 15px;
    font-weight: bold;
    
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
}
* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

