*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background: #311803b9;
    color: white;
    border-radius: 18px;
}

.container{
    display: flex;
    background: rgba(255, 255, 255, 0.9);
  
}

.sidebar{
    width: 250px;
    background: #311803b9;
    color: white;
    padding: 20px;
    position:fixed;
    height: 100vh;
    border-radius: 10px;
    border-right: solid;
   
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li  a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover{
    background: #310e03;
    border-radius: 10px;

}
.sidebar a:hover:before{
    width: 95%;
}
main{
  margin-left: 250px;
  display:grid;
  text-align: center;
  flex-grow: 1;

}
.searchbar{
    width: 100%;
    padding: 11px;
    height:50px;
   


}
.searchbar input{
    width: 80%;
    padding: 11px;
    height: 30px;
    border-radius: 15px;
}
.searchbar button{
    border-radius: 10px;
    width: 60px;
    height: 30px;
}

li{
    font-size: 25px;
    list-style-type: none;
    margin: 10px; 

}
.nav-links ul li{
    text-align: right;

}

.nav-links a{
    text-decoration: none;
    color: white;
}

.nav-links a:hover{
    background: #310e03;
    border-radius: 5%;
}
.nav-links a:before{
     width: 95%;
}
.table-container{
    display: grid;
    border: solid 1px black;
    border-collapse: collapse;
}