section{
   justify-content: center;
   align-items: center;
   display: flex;
   height: 100vh;
   text-align: center;
  


}
.center{
  height: 400px;
  width: 400px;
  border: 1px solid;
  background:#8B5E3C;
  padding:50px;
  border-radius: 10px;
}

.input{
    padding: 30px;
}
input{
    margin: 10px;
    width: 250px;
    height: 30px;
    border-radius: 10px;
}

button{
    width: 200px;
    border-radius: 10px;
    height:30px;
}
#terms{
    width: 15px;
    padding: 15px;
    height: 15px;
}